<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>通号院集团招聘门户</title>
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
	<!--导航条-->
	<div class="navbar navbar-default navbar-static-top navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>					
				</button>

				<a href="#" class="navbar-brand"><img src="/static/images/logo_red.png" alt="通号院logo"></a>
				<p class="navbar-text">通号院集团招聘门户</p>
			</div><!--navbar header-->
			
			<div class="collapse navbar-collapse" id="collapse">		
					<div class="row">
						 <div class="col-lg-5 col-lg-offset-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="">首页</a></li>
								<li><a href="">社会招聘</a></li>
								<li><a href="">校园招聘</a></li>
								<li><a href="">了解通号</a></li>
								<li><a href="/center/resume/">个人中心</a></li>
							</ul>
						</div>					
						<div class="col-lg-3">
							<ul class="nav navbar-nav navbar-right">				
								{% if name %}
                                    <li><a href="/center/resume/" id="welcome">欢迎您，{{ name }}</a></li>
                                {% else %}
                                    <li><a href="/user/login_request/" id="login">登录</a></li>
                                {% endif %}
								<li style="color: black;line-height:48px;" class="hidden-md hidden-xs hidden-sm"> | </li>
								<li><a href="/user/log_out/">退出</a></li>
							</ul>
						</div>
					</div>
				</div><!--row-->
			</div><!--navbar collapse-->
		</div><!--navbar container-->

	<!--巨幕-->
	<div class="jumbotron clearfix">
		<img class="img-responsive" src="/static/images/index_main_pic3.jpg">
		<div class="container">			
		</div>
	</div>

    <!--最新职位-->
	<div class="container">
		<h4>最新职位</h4>
		<div class="row" id="postCon">
			{% for p in post %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">

                            <a href="/post/postView/?postId={{ p.id }}" style="color: white;" id="#postName">{{ p.post_name }}</a>
                        </div>
                        <div class="panel-body" id="panelBody">
                            <p>工作地：{{ p.location }}</p>
                            <p>职位类别：{{ p.post_type }}</p>
                            <p>招聘人数：{{ p.num }}</p>
                            <p>招聘对象：{{ p.apply_type }}</p>

                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="showDetail"></span>

                            <div class="hidden" id="postDes">
                                <p>发布时间：{{ p.public_date|date:"Y-m-d" }}</p>
                                <p>所属部门：{{ p.department }}</p>
                                <p>工作年限：{{ p.exp_requirement }}</p>
                                <p>学历要求：{{ p.edu_requirement }}</p>
                                <p>岗位描述：</p>
                                <p>{{ p.responsibilities|linebreaksbr }}</p>
                                <p>岗位要求：</p>
                                <p>{{ p.post_requirement|linebreaksbr }}</p>
                                <div class="hidden" id="positionID">{{ p.id }}</div>
                                <button class="btn btn-primary btn-block" id="postApply">职位申请</button>
                                <a class="btn btn-success btn-block hidden" id="applySuccess" href="/center/postView/?type=apply">申请成功</a>
                                <button class="btn btn-warning btn-block" id="postStore">职位收藏</button>
                                <a class="btn btn-success btn-block hidden" id="favSuccess" href="/center/postView/?type=fav">收藏成功</a>
                            </div>
                            <span class="glyphicon glyphicon-menu-up hidden" aria-hidden="true" id="hideDetail"></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
		</div><!--row-->
	</div><!--container-->	

   <!--页脚-->
    <div class="container-fluid" id="footer">
        <p>@ 2018 通号院集团版权所有</p>
    </div>

</body>
</html>