{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/js/center.js"></script>
    <script type="text/javascript" src="/static/js/position.js"></script>

{% endblock head %}
{% block body %}
    <div class="container col-lg-7 col-lg-offset-2" id="bodyCon">
        <p class="viewLabel">职位搜索</p>
        <div class="viewBox">

            <!--职位搜索-->
            <form method="get" action="/position/PositionSearch/" role="search">
                <div class="input-group" id="searchCon">
                    <input type="text" class="form-control" placeholder="关键词" id="keyword" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>

            <!--职位筛选-->
            <div class="container" id="filterCon">
                <p class="filterLabel">类别：</p>
                <span class="filterSpan" id="filterSpan">
                    <ol class="breadcrumb" id="typeFilter">
                        <li><a class="{% if position_type == 'None' %}colorChange1{% endif %}" href="?location={{ location }}">全部</a></li>
                        <li><a class="{% if position_type == "development" %}colorChange1{% endif %}" href="?type=development&location={{ location }}">科研</a></li>
                        <li><a class="{% if position_type == "design" %}colorChange1{% endif %}" href="?type=design&location={{ location }}">设计</a></li>
                        <li><a class="{% if position_type == "integration" %}colorChange1{% endif %}" href="?type=integration&location={{ location }}">集成</a></li>
                        <li><a class="{% if position_type == "testing" %}colorChange1{% endif %}" href="?type=testing&location={{ location }}">测试</a></li>
                        <li><a class="{% if position_type == "market" %}colorChange1{% endif %}" href="?type=market&location={{ location }}">市场</a></li>
                        <li><a class="{% if position_type == "management" %}colorChange1{% endif %}" href="?type=management&location={{ location }}">管理</a></li>
                    </ol>
                </span>
                <div class="clearfix"></div>
                <p class="filterLabel">地点：</p>
                <span class="filterSpan"  id="filterSpan">
                    <ol class="breadcrumb" id="locationFilter">
                        <li><a class="{% if location == 'None' %}colorChange1{% endif %}" href="?type={{ position_type }}">全部</a></li>
                        <li><a class="{% if location == 'bj' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=bj">北京</a></li>
                        <li><a class="{% if location == 'sh' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=sh">上海</a></li>
                        <li><a class="{% if location == 'cd' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=cd">成都</a></li>
                        <li><a class="{% if location == 'xa' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=xa">西安</a></li>
                        <li><a class="{% if location == 'sy' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=sy">沈阳</a></li>
                        <li><a class="{% if location == 'wh' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=wh">武汉</a></li>
                        <li><a class="{% if location == 'xj' %}colorChange1{% endif %}" href="?type={{ position_type }}&location=xj">新疆</a></li>
                    </ol>
                </span>
            </div><!--filterCon-->

            <!--职位列表-->
            <div class="container" id="listCon">
                <table class="table table-bordered" id="postViewList">
                    <tr class="listTitle">
                        <td>职位</td>
                        <td>工作地</td>
                        <td>类别</td>
                        <td>人数</td>
                        <td>发布日期</td>
                    </tr>
                    {% if query %}
                        {% for result in object_list %}
                            <tr class="positions" data-type="{{ result.object.position_type }}">
                                <td><a data-toggle="modal" data-target="#postDisplay" data-post="{{ result.object.id }}">{{ result.object.position_name }}</a></td>
                                <td id="postLocation">{{ result.object.location }}</td>
                                <td id="postType">{{ result.object.position_type }}</td>
                                <td>{{ result.object.num }}</td>
                                <td>{{ result.object.pub_date|date:'Y-m-d' }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for p in positions %}
                            <tr class="positions" data-type="{{ p.position_type }}">
                                <td><a data-toggle="modal" data-target="#postDisplay" data-post="{{ p.id }}">{{ p.position_name }}</a></td>
                                <td id="postLocation">{{ p.location }}</td>
                                <td id="postType">{{ p.position_type }}</td>
                                <td>{{ p.num }}</td>
                                <td>{{ p.pub_date|date:'Y-m-d' }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div><!--listCon-->

            <!--分页-->
            <nav aria-label="Page navigation" id="pageCon">
                <ul class="pagination">
                    {% if positions.has_previous %}
                        <li>
                            <a href="?page={{ positions.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for p in positions.paginator.page_range %}
                        {% if p == positions.number %}
                        <li class="active"><a href="?page={{ p }}&type={{ position_type }}&location={{ location }}">{{ p }}</a></li>
                        {% else %}
                        <li><a href="?page={{ p }}&type={{ position_type }}&location={{ location }}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if positions.has_next %}
                    <li>
                        <a href="?page={{ positions.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div><!--viewBox-->
    </div><!--bodyCon-->

    <!--岗位显示模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="postDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="modalTable">
                        <tr>
                            <td class="info">岗位类型</td>
                            <td id="modalPostType"></td>
                            <td class="info">招聘类型</td>
                            <td id="modalApplyType"></td>
                        </tr>
                        <tr>
                            <td class="info">所在公司</td>
                            <td id="modalCompany"></td>
                            <td class="info">工作地</td>
                            <td id="modalLocation"></td>
                        </tr>
                        <tr>
                            <td class="info">所在部门</td>
                            <td id="modalDepartment"></td>
                            <td class="info">招聘人数</td>
                            <td id="modalNum"></td>
                        </tr>
                        <tr>
                            <td class="info">工作年限</td>
                            <td id="modalExp"></td>
                            <td class="info">学历要求</td>
                            <td id="modalEdu"></td>
                        </tr>
                        <tr>
                            <td class="info">发布日期</td>
                            <td id="modalPublicDate"></td>
                            <td class="info">截止日期</td>
                            <td id="modalExpireDate"></td>
                        </tr>
                    </table>
                    <label class="modalLabel">岗位描述</label>
                    <p class="modalText" id="modalResponsibilities"></p>
                    <label class="modalLabel">岗位要求</label>
                    <p class="modalText" id="modalRequirement"></p>
                </div><!-- /.modal-content -->

                <div class="modal-footer">
                    <div id="modalPostId" class="hidden"></div>
                    <button type="button" class="btn btn-primary" id="applyPost">职位申请</button>
                    <button type="button" class="btn btn-success hidden" id="applySuccess">申请成功</button>
                    <button type="button" class="btn btn-warning" id="addFav">职位收藏</button>
                    <button type="button" class="btn btn-success hidden" id="addFavSuccess">收藏成功</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}