#login_body{
    height: 500px;
}

#input_row{
    margin-left: 0;

}

#input_form{
    padding-top: 100px;
}

.form-control{
    width: 300px;
}

#email, #password{
    font-weight: normal;
}

#login_btn{
    width: 300px;
    background-color: rgb(255,140,0);
    color: white;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

#register_btn{
    margin-left: 188px;

}

#link_user{
    padding: 0;
}

#link_reset{
    margin-left: 185px;
}