input[readonly]{
    background-color: white!important;
    color: black!important;
}

#login_body{
    height: 500px;
}

#input_row{
    margin-left: 0;
}

.input_box{
    width:350px;
    height:320px;
    text-align: center;
    border: 1px solid #777;
    margin: 100px auto;
}

#input_form{
    padding-top: 100px;
}

.form-control{
    width: 300px;
}

#email, #password{
    font-weight: normal;
    font-size: 12px;
}

#login_btn{
    width: 300px;
    background-color: rgb(255,140,0);
    color: white;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

#register_btn{
    margin-left: 188px;
}

#link_user{
    padding: 0;
}

#link_reset{
    margin-left: 192px;
}

#link_user, #link_reset{
    font-size: 13px;
    cursor: pointer;
}

#login_pic{
    width:300px;
    margin-top:80px;
    margin-left:100px;
}

label{
    width:100%;
    font-weight: normal;
    font-size: 13px!important;
}

.modal-dialog .form-control{
    width:100%;
}

#must{
    color:red;
    margin-right:5px;
}

#agree{
    margin-top:5px;
    padding:1px;
}

#agree a{
    font-size:12px;
}

#agree_warn{
    color:#a94442;
    font-size:12px;
}

#declaration{
    margin-left:15px;
    padding:0;
}

.help-block{
    font-size:12px;
    padding:5px;
}

#agree_warn{
    color:#a94442;
    font-size:12px;
    margin-top:10px;
    margin-left:5px;
}

#login_email_warn, #login_warn{
    color:#a94442;
    font-size:12px;
    margin-top:5px;
}

#nav_box{
    margin-top:20px;
}


#nav_box ul li a{
    font-size:14px;
}

.basic_info{
    margin-top:15px;
}

.info_box{
    border:1px solid rgb(204,204,204);
    padding-top:20px;
    padding-left:10px;
    margin-bottom: 30px;
}

#photo_con{
    margin-left: 0;
}

#photo_frame{
    border:1px solid rgb(204,204,204);
    width:178px;
    height:214px;
    margin-top:49px;
    padding: 0;
}

#face{
    zoom:300%;
    margin-top:25px;
    margin-left:18px;
}

#file_css{
    font-size:10px;
    margin-left:0;
}

#photo_upload{
    text-align:center;
    color:#337ab7;
    cursor:pointer;
    font-size:12px;
}

.warn{
    color:#a94442;
    font-size:12px;
    margin-top:5px;
}

.info_label{
    color: rgb(255,140,0);
    font-size: 16px;
    margin-top: 20px;
}

.datetime{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: white;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.span_to{
    color: rgb(204,204,204);
    font-size: 14px;
    margin-left: 12px;
    margin-right: 12px;
}

.edu_list, .work_list{
    list-style: none;
}

.func_box{
    width: 90%;
    margin: -15px auto 0;
    height: 50px;
    line-height: 50px;
    padding-left: -5px;
}

#edu_del, #work_del, #resume_del{
    float: right;
}

#edu_list, #work_list{
    padding: 0;
}

#edu_list li, #work_list li{
    border-bottom: 1px dotted #ccc;
    margin-right: 5px;
    margin-bottom: 20px;
}

.del_box{
    height:30px;
}

.photo_submit{
    margin: 10px auto 0;
}

#resume_upload_box{
    border-bottom: 1px dotted #ccc;
    margin: 10px 5px 20px -5px;
    padding-bottom: 20px;
    height: 80px;
}

#nav_box ul li a {
    font-size: 14px;
    padding: 10px 12px;
}

#resume_label{
    text-align: right;
}

#file_label{
    text-align: right;
}

#viewCon{
    margin: 10px auto;
}

.viewLabel{
    color: rgb(255,140,0);
    font-size: 16px;
    margin-top: 20px;
}

.viewBox{
    width: 100%;
    border: 1px dotted #ccc;
    padding-left: 10px;
}

.fieldTitle{
    margin-top: 10px;
    font-size: 14px;
}

.viewTable{
    margin: 10px 0 10px;
    list-style: none;
    padding: 5px;
}

.viewTable tr th{
    font-size: 14px;
    font-weight: normal;
    padding: 5px;

}

.tableTitle{
    text-align: right;
}

#eduViewBox, #workViewBox{
    padding-left: 5px;
    font-size: 14px;
}

.viewTable li{
    font-size: 14px;
    padding: 5px;
}

#modify, #save{
    margin: 10px 0 0 10px;
}

#fileUpBox{
    width: 95%;
    margin-left: 5px;
    margin-right: 10px;
}

#postList{
    margin-top: 10px;
}

#postList tbody tr td{
    font-size: 12px;

}

