{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){
        var error_login = true;
            if({{ login_error }}==1){
                $('#login_warn').removeClass('hidden');
                error_login = true;

            }
            else{
                $('#login_warn').addClass('hidden');
                error_login = false;
            }
    });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
{% endblock head %}

{% block body %}
    <div class="container" id="login_body">
        <div class="row" id="input_row">
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
                <div class="div" id="login_pic">
                    <img src="/static/images/login.jpg" alt="login" class="img-responsive img-circle">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-md-0 col-sm-0 center-block" id="input_form">
                <form action="/user/loginHandle/" method="post" id="form_login">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="login_label">登录邮箱</label>
                         <input type="text" class="form-control" id="login_email" name="login_email" value="{{ login_email }}" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="login_label">登录密码</label>
                        <input type="password" class="form-control" id="login_pwd" name="login_pwd" value="{{ login_pwd }}" autocomplete="new-password">
                        <div class="login_warn hidden" id="login_warn">您输入的用户名或密码有误。</div>
                    </div>
                    <button type="submit" class="btn btn-default" id="login_btn">登录</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                <div class="container" id="link_user">
                    <a id="link_register" data-toggle="modal" data-target="#register_modal">用户注册</a>
                    <a href="#" id="link_reset">忘记密码</a>
                </div>

            </div>
        </div>
    </div>
     <!--注册弹框-->
    <div class="modal fade" id="register_modal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">用户注册</h4>
                </div>
                <form action="/user/register_handle/" method="post" id="reg_form">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group has-feedback" id="nameBox">
                            <label for="name"><span id="must">*</span>姓名</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true" id="name_true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true" id="name_false"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            <span id="name_warn" class="help-block hidden"></span>
                        </div>
                        <div class="form-group has-feedback" id="emailBox">
                            <label for="user_email"><span id="must">*</span>邮箱</label>
                            <input type="text" class="form-control" id="user_email" name="user_email">
                            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true" id="email_true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true" id="email_false"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            <span id="email_warn" class="help-block hidden"></span>
                        </div>
                        <div class="form-group has-feedback" id="pwdBox">
                            <label for="exampleInputPassword1"><span id="must">*</span>登录密码</label>
                            <input type="password" class="form-control" id="user_pwd" name="user_pwd">
                            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true" id="pwd_true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true" id="pwd_false"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            <span id="pwd_warn" class="help-block hidden"></span>
                        </div>
                        <div class="form-group has-feedback" id="cpwdBox">
                            <label for="exampleInputPassword1"><span id="must">*</span>确认密码</label>
                            <input type="password" class="form-control" id="user_cpwd" name="user_cpwd">
                            <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true" id="cpwd_true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true" id="cpwd_false"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                            <span id="cpwd_warn" class="help-block hidden"></span>
                        </div>
                        <div class="form-group has-feedback" id="agreeBox">
                            <input type="checkbox" id="agree">
                            <a href="#" id="declaration">我同意通号院集团法律声明及隐私权政策。</a>
                            <span id="agree_warn" class="help-block">请仔细阅读声明并选择同意。</span>
                        </div>
                    </div><!--modal-body-->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="提交">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div><!--modal-footer-->
                </form>
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--model fade-->
{% endblock body %}


