{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/center.js"></script>



{% endblock head %}
{% block body %}
    <!--个人中心导航条-->
    <div class="container" id="nav_box">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">我的简历</a></li>
            <li role="presentation"><a href="#">我的申请</a></li>
            <li role="presentation"><a href="#">我的收藏</a></li>
            <li role="presentation"><a href="#">我的账户</a></li>
        </ul>
    </div>

    <!--我的简历-->
    <div class="container" id="resume">
        <div class="row" id="resume_row">
            <div class="col-lg-3" id="photo_con">
                <div class="container" id="photo_border">
                    <span class="glyphicon glyphicon-user hidden" aria-hidden="true" id="face"></span>
                    <img src="/static/media/{{ photo_name }}" alt="photo" class="img-responsive">
                </div>
                <form action="/center/photo_upload_handle/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-4">
                            <label for="file" id="photo_upload">上传照片</label>
                            <input id="file" type="file" style="display: none" name="photo">
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-9" id="resume_con">
                <form class="form-horizontal" id="resume_form">
                    <!--基本信息-->
                    <p class="info_label">基本信息:</p>
                    <div class="info_box">
                        <div class="form-group form-group-sm has-feedback">
                            <label for="name" class="col-sm-2 control-label"><span id="must">*</span>姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name">
                                <p class='warn hidden'></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="phone" class="col-sm-2 control-label"><span id="must">*</span>手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" name="phone">
                                <p class="warn hidden"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="age" class="col-sm-2 control-label"><span id="must">*</span>年龄</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="age" name="age">
                                <p class="warn hidden"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="work_year" class="col-sm-2 control-label"><span id="must">*</span>工作年限</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="work_year" name="work_year">
                                    <option value="请选择">请选择</option>
                                    <option value="应届毕业生">应届毕业生</option>
                                    <option value="1年以下">1年以下</option>
                                    <option value="1年以上">1年以上</option>
                                    <option value="2年以上">2年以上</option>
                                    <option value="3年以上">3年以上</option>
                                    <option value="4年以上">4年以上</option>
                                    <option value="5年以上">5年以上</option>
                                    <option value="10年以上">10年以上</option>
                                    <option value="15年以上">15年以上</option>
                                    <option value="20年以上">20年以上</option>
                                    <option value="30年以上">30年以上</option>
                                </select>
                                <p class='warn hidden'></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for=party" class="col-sm-2 control-label"><span id="must">*</span>政治面貌</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="political_status" name="political_status">
                                    <option value="请选择">请选择</option>
                                    <option value="群众">群众</option>
                                    <option value="党员">中国共产党党员</option>
                                    <option value="团员">中国共产主义青年团团员</option>
                                    <option value="中国民主促进会会员">中国民主促进会会员</option>
                                    <option value="中国民主建国会会员">中国民主建国会会员</option>
                                    <option value="中国民主同盟盟员">中国民主同盟盟员</option>
                                    <option value="中国农工民主党党员">中国农工民主党党员</option>
                                    <option value="中国致公党党员">中国致公党党员</option>
                                    <option value="九三学社社员">九三学社社员</option>
                                    <option value="其他">其他</option>
                                </select>
                                <p class='warn hidden'></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="live_location" class="col-sm-2 control-label"><span id="must">*</span>现居住地</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="live_location" name="live_location" placeholder="北京市海淀区">
                                <p class="warn hidden"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="study_location" class="col-sm-2 control-label"><span id="must">*</span>生源地</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="study_location" name="study_location" placeholder="北京市">
                                <p class="warn hidden"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="identity_id" class="col-sm-2 control-label"><span id="must">*</span>身份证号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="identity_id" name="identity_id">
                                <p class="warn hidden"></p>
                            </div>
                        </div>
                    </div><!--basic_info_box-->

                    <!--工作信息-->
                    <p class="info_label" id="info_work">工作经历:</p>
                    <div class="info_box" id="info_work_box">
                        <div id="work_input">
                            <div class="form-group form-group-sm has-feedback">
                                <label for="company" class="col-sm-2 control-label"><span id="must">*</span>工作单位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="company" name="company">
                                    <p class='warn hidden'></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post" class="col-sm-2 control-label"><span id="must">*</span>职位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="post" name="post">
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post" class="col-sm-2 control-label"><span id="must">*</span>时间</label>
                                <div class="col-sm-10">
                                    <input size="15" type="text" class="datetime" id="work_start_time" name="work_start_time" placeholder="开始时间" readonly>
                                    <span class="span_to">-</span>
                                    <input size="15" type="text" class="datetime" id="work_end_time" name="work_end_time" placeholder="结束时间" readonly>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post_desc" class="col-sm-2 control-label"><span id="must">*</span>职责描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="4" id="post_desc" name="post_desc"></textarea>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="work_add" id="work_add_one">
                                <a id="work_add">新增一条</a>
                                <a href="#" id="work_delete" style="float: right">删除此条</a>
                            </div>
                        </div>
                    </div><!--work_info_box-->

                    <!--教育经历-->
                    <p class="info_label" id="info_education">教育经历:</p>
                    <div class="info_box" id="info_education_box">
                        <ul id="edu_list" class="edu_list">
                            <li>
                                <div class="form-group form-group-sm has-feedback">
                                    <label for="school" class="col-sm-2 control-label"><span id="must">*</span>毕业学校</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="school" name="school">
                                        <p class='warn hidden'></p>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label for="profession" class="col-sm-2 control-label"><span id="must">*</span>专业</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="profession" name="profession">
                                        <p class="warn hidden"></p>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label for="education" class="col-sm-2 control-label"><span id="must">*</span>学历</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="education" name="education">
                                            <option value="请选择">请选择</option>
                                            <option value="本科">大学本科</option>
                                            <option value="硕士">硕士研究生</option>
                                            <option value="博士">博士研究生</option>
                                            <option value="大专">大学专科</option>
                                            <option value="中专">中等专科</option>
                                            <option value="高中">高中毕业</option>
                                            <option value="初中">初中毕业</option>
                                            <option value="其他">其他</option>
                                        </select>
                                        <p class='warn hidden'></p>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label for="degree" class="col-sm-2 control-label"><span id="must">*</span>学位</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="degree" name="degree">
                                            <option value="请选择">请选择</option>
                                            <option value="学士">学士</option>
                                            <option value="硕士">硕士</option>
                                            <option value="专业硕士">专业硕士</option>
                                            <option value="工程硕士">工程硕士</option>
                                            <option value="博士">博士</option>
                                            <option value="无学位">无学位</option>
                                            <option value="其他">其他</option>
                                        </select>
                                        <p class="warn hidden"></p>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label for="school_start_time" class="col-sm-2 control-label"><span id="must">*</span>时间</label>
                                    <div class="col-sm-10">
                                        <input size="15" type="text" class="datetime" id="edu_stime" name="edu_stime" placeholder="入学时间" readonly>
                                        <span class="span_to">-</span>
                                        <input size="15" type="text" class="datetime" id="edu_etime" name="edu_etime" placeholder="毕业时间" readonly>
                                        <p class="warn hidden"></p>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label for="profession_desc" class="col-sm-2 control-label">专业描述</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="4" id="profession_desc" name="profession_desc"></textarea>
                                        <p class="warn hidden"></p>
                                    </div>
                                </div>
                                <div class="del_box">
                                    <a href="javascript:" id="edu_del" class="hidden">删除此条</a>
                                </div>
                            </li><!--education_input-->
                        </ul>
                        <div class="func_box" id="func_box">
                            <a href="javascript:" id="edu_add">新增一条</a>
                        </div>
                    </div><!--education_info_box-->

                    <!--简历上传-->
                    <p class="info_label">简历上传:</p>
                    <div class="info_box" id="resume_upload_box">
                        <form action="/uploadHandle" method="post" enctype="multipart/form-data">
                            <input type="file" name="resume">

                        </form>
                    </div><!--education_info_box-->
                    <button class="btn btn-default" type="submit" action=""></button>
                </form>
            </div><!--resume_con-->
        </div><!--resume_row-->
    </div><!--resume-->

    <div class="container hidden" id="resume">

    </div>
    <!--我的申请-->
    <div class="container hidden">

    </div>

    <!--我的收藏-->
    <div class="container hidden">

    </div>

    <!--我的账户-->
    <div class="container hidden">

    </div>
{% endblock body %}