{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/js/locales/zh.js"></script>
    <script type="text/javascript" src="/static/js/ajax-post-handle.js"></script>
    <script type="text/javascript" src="/static/js/center.js"></script>
{% endblock head %}
{% block body %}
    <!--个人中心导航条-->
    <div class="container" id="nav_box">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/center/resume/">我的简历</a></li>
            <li role="presentation"><a href="#">我的申请</a></li>
            <li role="presentation"><a href="#">我的收藏</a></li>
            <li role="presentation"><a href="#">我的账户</a></li>
        </ul>
    </div>

    <!--我的简历-->
    <div class="container" id="resume">
        <!--简历编辑容器-->
        {% if view_para != 1 %}
        <div class="col-lg-7" id="resume_con">
            <form class="form-horizontal" id="resume_form" method="post" action="/center/resume_submit/">
                {% csrf_token %}
                <p class="info_label">基本信息:</p>
                <div class="info_box">
                    <div class="form-group form-group-sm has-feedback">
                        <label for="name" class="col-sm-2 control-label"><span id="must">*</span>姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
                            <p class='warn hidden'></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="phone" class="col-sm-2 control-label"><span id="must">*</span>手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ phone }}">
                            <p class="warn hidden"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="age" class="col-sm-2 control-label"><span id="must">*</span>年龄</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" name="age" value="{{ age }}">
                            <p class="warn hidden"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="work_year" class="col-sm-2 control-label"><span id="must">*</span>工作年限</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="work_year" name="work_year">
                                <option value="请选择">请选择</option>
                                <option value="应届毕业生">应届毕业生</option>
                                <option value="1年以下">1年以下</option>
                                <option value="1年以上">1年以上</option>
                                <option value="2年以上">2年以上</option>
                                <option value="3年以上">3年以上</option>
                                <option value="4年以上">4年以上</option>
                                <option value="5年以上">5年以上</option>
                                <option value="10年以上">10年以上</option>
                                <option value="15年以上">15年以上</option>
                                <option value="20年以上">20年以上</option>
                                <option value="30年以上">30年以上</option>
                            </select>
                            <p class='warn hidden'></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="party" class="col-sm-2 control-label"><span id="must">*</span>政治面貌</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="party" name="party">
                                <option value="请选择">请选择</option>
                                <option value="群众">群众</option>
                                <option value="党员">中国共产党党员</option>
                                <option value="团员">中国共产主义青年团团员</option>
                                <option value="中国民主促进会会员">中国民主促进会会员</option>
                                <option value="中国民主建国会会员">中国民主建国会会员</option>
                                <option value="中国民主同盟盟员">中国民主同盟盟员</option>
                                <option value="中国农工民主党党员">中国农工民主党党员</option>
                                <option value="中国致公党党员">中国致公党党员</option>
                                <option value="九三学社社员">九三学社社员</option>
                                <option value="其他">其他</option>
                            </select>
                            <p class='warn hidden'></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="live_location" class="col-sm-2 control-label"><span id="must">*</span>现居住地</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="live_location" name="live_location" placeholder="北京市海淀区" value="{{ live_location }}">
                            <p class="warn hidden"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="study_location" class="col-sm-2 control-label"><span id="must">*</span>生源地</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="study_location" name="study_location" placeholder="北京市" value="{{ study_location }}">
                            <p class="warn hidden"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="identity_id" class="col-sm-2 control-label"><span id="must">*</span>身份证号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="identity_id" name="identity_id" value="{{ identity_id }}">
                            <p class="warn hidden"></p>
                        </div>
                    </div>
                </div><!--basic_info_box-->

                {% for w in work_info %}
                <p class="info_label">工作履历:</p>
                <div class="info_box">
                    <ul id="work_list" class="work_list">
                        <li>
                            <div class="form-group form-group-sm has-feedback">
                                <label for="company" class="col-sm-2 control-label"><span id="must">*</span>工作单位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="company" name="company" value="{{ w.company }}">
                                    <p class='warn hidden'></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post" class="col-sm-2 control-label"><span id="must">*</span>职位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="position" name="position" value="{{ w.position }}">
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post" class="col-sm-2 control-label"><span id="must">*</span>时间</label>
                                <div class="col-sm-10">
                                    <input size="15" type="text" class="datetime form-control" id="work_stime" name="work_stime" placeholder="开始时间" readonly value="{{ w.work_stime|date:"Y-m-d"}}">
                                    <span class="span_to">-</span>
                                    <input size="15" type="text" class="datetime form-control" id="work_etime" name="work_etime" placeholder="结束时间" readonly value="{{ w.work_etime|date:"Y-m-d" }}">
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="post_desc" class="col-sm-2 control-label"><span id="must">*</span>职责描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="4" id="work_desc" name="work_desc" >{{ w.work_desc }}</textarea>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="del_box hidden">
                                <a href="javascript:" id="work_del">删除此条</a>
                            </div>
                        </li>
                    </ul>
                    <div class="func_box" id="func_box">
                        <a href="javascript:" id="work_add">新增一条</a>
                    </div>
                </div><!--work_info_box-->
                {% endfor %}


                {% for e in edu_info %}
                <p class="info_label" id="info_education">教育背景:</p>
                <div class="info_box" id="info_education_box">
                    <ul id="edu_list" class="edu_list">
                        <li>
                            <div class="form-group form-group-sm has-feedback">
                                <label for="school" class="col-sm-2 control-label"><span id="must">*</span>毕业学校</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="school" name="school" value="{{ e.school }}">
                                    <p class='warn hidden'></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="profession" class="col-sm-2 control-label"><span id="must">*</span>专业</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="profession" name="profession" value={{ e.profession }}>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="education" class="col-sm-2 control-label"><span id="must">*</span>学历</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="education" name="education">
                                        <option value="请选择">请选择</option>
                                        <option value="本科">大学本科</option>
                                        <option value="硕士">硕士研究生</option>
                                        <option value="博士">博士研究生</option>
                                        <option value="大专">大学专科</option>
                                        <option value="中专">中等专科</option>
                                        <option value="高中">高中毕业</option>
                                        <option value="初中">初中毕业</option>
                                        <option value="其他">其他</option>
                                    </select>
                                    <p class='warn hidden'></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="degree" class="col-sm-2 control-label"><span id="must">*</span>学位</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="degree" name="degree">
                                        <option value="请选择">请选择</option>
                                        <option value="学士">学士</option>
                                        <option value="硕士">硕士</option>
                                        <option value="专业硕士">专业硕士</option>
                                        <option value="工程硕士">工程硕士</option>
                                        <option value="博士">博士</option>
                                        <option value="无学位">无学位</option>
                                        <option value="其他">其他</option>
                                    </select>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="school_start_time" class="col-sm-2 control-label"><span id="must">*</span>时间</label>
                                <div class="col-sm-10">
                                    <input size="15" type="text" class="datetime form-control" id="edu_stime" name="edu_stime" placeholder="入学时间" readonly value="{{ e.school_stime|date:"Y-m-d" }}">
                                    <span class="span_to">-</span>
                                    <input size="15" type="text" class="datetime form-control" id="edu_etime" name="edu_etime" placeholder="毕业时间" readonly value="{{ e.school_etime|date:"Y-m-d" }}">
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="profession_desc" class="col-sm-2 control-label">专业描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="4" id="profession_desc" name="profession_desc">{{ e.profession_desc }}</textarea>
                                    <p class="warn hidden"></p>
                                </div>
                            </div>
                            <div class="del_box hidden">
                                <a href="javascript:" id="edu_del">删除此条</a>
                            </div>
                        </li><!--education_input-->
                    </ul>
                    <div class="func_box" id="func_box">
                        <a href="javascript:" id="edu_add">新增一条</a>
                    </div>
                </div><!--education_info_box-->
                {% endfor %}
            </form>

            <p class="info_label">简历上传:</p>
            <div class="info_box">
                <div class="row">
                    <div class="col-sm-10" id="fileUpBox">
                        <input type="file" size="16" id="resume_file" name="resume_file">
                        {% csrf_token %}
                        <p class="help-block">支持文件类型：.pdf .jpg .png .bpm,最大支持10M。</p>
                        <div class="warn hidden" id="file_warn"></div>
                    </div>
                    <div class="col-sm-10 hidden" id="fileViewBox">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label" id="file_label">我的简历</label>
                            <p class="col-sm-10" id="fileView"></p>
                        </div>
                    </div>
                    <div class="func_box hidden" id="fileFuncBox">
                        <a href="javascript:" id="resumeDel">删除简历</a>
                    </div>
                </div>
            </div><!--resume_info_box-->

            <button class="btn btn-primary" type="button" id="save">保存并预览</button>
        </div><!--resume_con-->
        {% endif %}

        <!--简历浏览容器-->
        {% if view_para == 1 %}
        <div class="col-lg-7" id="viewCon">

            <!--基本信息框-->
            <p class="viewLabel">基本信息</p>
            <div class="viewBox">
                <table class="viewTable">
                    <tr><th class="tableTitle">姓名：</th><th>{{ name }}</th></tr>
                    <tr><th class="tableTitle">手机号：</th><th>{{ phone }}</th></tr>
                    <tr><th class="tableTitle">邮箱：</th><th>{{ email }}</th></tr>
                    <tr><th class="tableTitle">身份证号：</th><th>{{ identity_id }}</th></tr>
                    <tr><th class="tableTitle">性别：</th><th>{{ gender }}</th></tr>
                    <tr><th class="tableTitle">政治面貌：</th><th>{{ party }}</th></tr>
                    <tr><th class="tableTitle">工作年限：</th><th>{{ work_year }}</th></tr>
                    <tr><th class="tableTitle">居住地：</th><th>{{ live_location }}</th></tr>
                    <tr><th class="tableTitle">生源地：</th><th>{{ study_location }}</th></tr>
                </table>
            </div>

            <!--工作信息框-->
            <p class="viewLabel">工作信息</p>
            <div class="viewBox">
                <ul class="viewTable" id="workViewBox">
                    {% for w in work_info %}
                    <li>
                        {{ w.work_stime|date:"Y/m"}}
                        <span>-</span>
                        {{ w.work_etime|date:"Y/m"}}
                        &nbsp;&nbsp;
                        {{ w.company }}
                        &nbsp;&nbsp;
                        {{ w.position }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!--教育信息框-->
            <p class="viewLabel">教育信息</p>
            <div class="viewBox">
                <ul class="viewTable" id="eduViewBox">
                    {% for e in edu_info %}
                    <li>
                        {{ e.school_stime|date:"Y-m"}}
                        <span>-</span>
                        {{ e.school_etime|date:"Y-m"}}
                        &nbsp;&nbsp;
                        {{ e.school }}
                        &nbsp;&nbsp;
                        {{ e.profession }}
                        &nbsp;&nbsp;
                        {{ e.education }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!--修改简历按钮-->
            <a href="/center/resume_modify/">
                <button class="btn btn-primary" type="button" id="modify">修改简历</button>
            </a>
        </div>
        {% endif %}
    </div><!--resume-->

    <!--我的申请-->
    <div class="container hidden">

    </div>

    <!--我的收藏-->
    <div class="container hidden">

    </div>

    <!--我的账户-->
    <div class="container hidden">

    </div>
{% endblock body %}